nav{
    background-color: #dd6f22;
}

.navbar-container{
 
    display: flex;
    padding: 10px 155px 0 155px;
    justify-content: space-between;
}

.links{
    display: flex;
    gap: 10px;
    z-index: 1;

}

.links li i{
    font-size: 1.2rem;
    color: white;
}

.media-links{
    display: flex;
    gap: 5px;
}
.media-links a i{
    font-size: 1.4rem;
    border-radius: 100px;
    color: rgb(255, 255, 255);
}

.item{
    display: flex;
    position: relative;
    z-index: 1;
  
}






.img-container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 200%;
}
.img-container img{
    width: 100px;
    height: 100px;
}
.img-container p{
    font-size: 1.5rem;
    font-weight: 400;
    color: black;
}
.signup-login{
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 50px;
    display: flex;
    background-color: rgb(241, 242, 246);
  
}

.signup-login a{
    width: 100%;
    height: 100%;
    background-color: #f1ede9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    font-weight: 500;
}
.signup-login a:hover{
    background-color: #c5c0c041;
    color: rgb(231, 35, 35);
}

.user-signup-login{
    display: flex;
    gap: 10px;

 
}
.user-signup-login a{
    font-weight: 500;
}

.item i{
   display: flex;
}

/* HOVERR EFFECT */
.item a:hover{
    color: #b6b6b6;
}
.signup-login a:hover{
    color: black;
}
.media-links i:hover{
    color: #aaa6a6;
}
.item.notification i:hover,
.item.notification i:hover > *

{
    color: #aaa6a6;
}



/* QR_CODE HOVER DROPDOWN */
.item.hover-qrcode{
    position: relative;
}

.item.hover-qrcode:hover .dropdown-qrcode{
    display: block;
    
}

.dropdown-qrcode{
    display: none;
    position: absolute;
    bottom: -230px;
    padding-top: 15px;
    width: 170px;
  
}
.qrcode-container{
    box-shadow: 0 0 2px rgb(148, 148, 148);
}

.dropdown-qrcode img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.icons-container{
    position: relative;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-around;
}
.icon-qr{
    width: 100%;

    flex: 0 1 70px;
    height: 100%;
  
    transform: scale(1);
}
.icon-qr img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* NOTIFICATION HOVER DROPDOWN */
.dropdown-notification{
    display: none;
    visibility: hidden;
    flex-direction: column;
    position: absolute;
    bottom: -310px;
    transform: translateX(-370px);
    width: 450px;
    justify-content: center;
    height: 320px;
    padding-top: 20px;
    text-align: center;
    transition: all 0.3s ease;
    z-index: 1;
}
.dropdown-container.notif{
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 0 2px rgb(148, 148, 148);
    width: 100%;
    justify-content: center;
    background-color: white;
    align-items: center;

}

.dropdown-container .img-container{
    margin-top:50px;
}

.item.notification:hover .dropdown-notification{
   display: flex;
   visibility: visible;
}


/* LANGUAGE HOVER DROPDOWN */
.item.language i:hover *,
.item.language i:hover
{
    color: #b6b6b6;
}

.item.language:hover .dropdown-container.lang{
    display: block;
}
.item.language{
    position: relative;
}

.dropdown-container.lang{
    display: none;
    position: absolute;
    height: 100%;
    padding-top: 15px;
    bottom: -15px;
    width: 160px;
    box-shadow: none;
    transform: translateX(-80px);
  
}
.dropdown-lang{
  background-color: white ;
  box-shadow: 0 0 2px rgb(157, 157, 157);
  padding: 0 15px 10px 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
}

.dropdown-lang p{
    color: black;
    font-size: 1.1rem;
    font-weight: 400;
}
.dropdown-lang p:hover{
    color: rgb(214, 42, 42);
}

/* SECOND NAV 
LOGO SEARCH BAR CART*/

.logo-navigation-searchbar-cart{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.logo-container{
    width: 150px;
}
.logo-container svg {
    fill: white;
}

.search-container{
    display: flex;
    transform: translateX(-90px);
    flex-direction: column;
    gap: 5px;
}
.searchbar-container{
    position: relative;
    width: 115%;
}
.searchbar-container input{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 25px;
}
.searchbar-container .search-clicked{
    position: absolute;
    height: 90%;
    margin-top: 2px;
    align-items: center;
    width: 60px;
    right: 5px;
    top: 0;
    border-radius: 3px;
    background-color: #e67e1c;
    border: none;
}
.searchbar-container .search-clicked:hover{
    background-color:  #f7983f;
}
.searchbar-container .search-clicked i{
    font-size: 1.2rem;
    color: white;
}
#search::placeholder {
    color: rgb(217, 45, 22);
    font-weight: 500;
}

.links-category .category{
    display: flex;
    gap: 10px;

}
.links-category .category .link-category{
    color: white;
    cursor: pointer;

}
.links-category .category .link-category:hover{
    color: #aaa6a6;
}

.cart-container{
    position: relative;

}
.dropdown-cartnotif{
    display: none;
    position: absolute;
    text-align: center;
    align-items: center;
    padding-top: 30px;
    width: 350px;
    left: calc(-350px);
    bottom: calc(-230px);
    height: 250px;
  
}
.cartnotif-container{

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    border: 1px solid rgb(150, 144, 144);
    background-color: white;
}

.cartnotif-container .img-container img{
    
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.cartnotif-container p{
    color: black;
    font-weight: 500;
    font-size: 1.2rem;
}
 .cart-button:hover .dropdown-cartnotif{
    display: block;
}

.cart-button{
    position: relative;
    transform: translateX(-80px);
}
.cart-button i{
    font-size: 1.8rem;
    color: white;
}

.cart-button i:hover{
    color: rgb(173, 173, 173);
}